@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* LAYOUT */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  font-size: 15px;
  line-height: 17px;
  color: #000;
}

a,
a:visited,
a:active {
  color: #7b90b5;
  text-decoration: none;
}

a:hover {
  color: #7b90b5;
  text-decoration: underline;
}

/* DOSSIER BACKGROUND */

#wrapper {
  width: 969px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.wrapper-top {
  width: 969px;
  height: 19px;
  margin: 0 auto;
  background-image: url(../images/btop.jpg);
  background-repeat: no-repeat;
}

.wrapper-mid {
  width: 969px;
  margin: 0 auto;
  background-image: url(../images/bmid.jpg);
  background-repeat: repeat-y;
  padding-bottom: 40px;
}

.wrapper-bottom {
  width: 969px;
  height: 22px;
  padding: 0;
  margin: 0 auto;
  background-image: url(../images/bbottom.jpg);
  background-repeat: no-repeat;
}

/* PAPER BACKGROUND */

#paper {
  width: 828px;
  margin: 0 auto;
}

.paper-top {
  width: 828px;
  margin: 0 auto;
  background-image: url(../images/ptop.jpg);
  background-repeat: no-repeat;
  height: 126px;
}

#paper-mid {
  width: 828px;
  margin: 0 auto;
  background-image: url(../images/pmid.jpg);
  background-repeat: repeat-y;
  display: block;
  padding: 0;
  overflow: hidden;
  padding-bottom: 75px;
  padding-top: 7px;
}

.paper-bottom {
  width: 828px;
  height: 18px;
  margin: 0 auto;
  background-image: url(../images/pbottom.jpg);
  background-repeat: no-repeat;
}

/* ENTRIES */

.entry {
  width: 720px;
  display: block;
  padding-top: 55px;
  clear: both;
  margin-left: 4px;
}

h1 {
  width: 250px;
  height: 36px;
  font-size: 28px;
  color: #1b4491;
  margin-top: 6px;
  margin-bottom: 12px;
  clear: both;
}

h1 span {
  font-size: 16px;
  display: block;
  color: #1b4491;
  margin-top: 5px;
}

h2 {
  width: 180px;
  height: 23px;
  text-align: right;
  float: left;
  padding: 0;
  margin: 0;
  clear: both;
  font-size: 22px;
  color: #1b4491;
  margin-bottom: -12px;
}

p {
  width: 500px;
  margin-left: 40px;
  float: right;
}

p img {
  float: right;
  margin-left: 20px;
  padding-left: 10px;
}

div.content {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  padding-top: 32px;
}

h3 {
  width: 180px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 13px;
  color: #7b90b5;
}

em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #777777;
  font-size: 12px;
  display: block;
  padding-top: 3px;
}

ul.skills {
  margin: 0;
  padding: 0;
  float: right;
  width: 500px;
  margin-left: 40px;
  margin-top: -6px;
  list-style-type: none;
}

ul.skills li {
  margin: 0;
  padding: 0;
  float: left;
  width: 156px;
  background-image: url(../images/bullet.gif);
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: 0 0.5em;
  margin-top: 6px;
}

img.portrait {
  background-image: url(../images/frame.jpg);
  background-repeat: no-repeat;
  width: 109px;
  height: 109px;
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 36px;
  margin-left: 50px;
  float: left;
}

/* SELF INFORMATION */

.self {
  width: 250px;
  float: left;
  padding-top: 11px;
  margin-left: 38px;
  margin-bottom: 15px;
}

.self ul {
  padding-top: 10px;
}

.self ul li.ad {
  background-image: url(../images/icn-ad.gif);
}

.self ul li.mail {
  background-image: url(../images/icn-mail.gif);
}

.self ul li.tel {
  background-image: url(../images/icn-tel.gif);
}

.self ul li.web {
  background-image: url(../images/icn-web.gif);
}

.self ul li {
  background-repeat: no-repeat;
  padding-left: 26px;
  background-position: 0 0.1em;
  height: 25px;
  display: block;
  margin-top: -2px;
}

/* SOCIAL */

.social {
  float: right;
  padding-top: 10px;
}

.social ul {
  list-style: none;
  float: right;
  /* border: 0.1px solid darkblue;
	border-radius: 8px; */
}

.social ul li {
  /* width: 38px;
	height:38px; */
  font-size: 32px;
  margin: 0px;
  padding: 4px;
}
